<div class="spot" id="spot-1"
                style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                <i class="bi bi-people-fill huge-icon" style="top: -180px;"></i>
                <h2 style="margin-top: -40px; margin-bottom: 0px;"><span class="point">TEAM</span> CRACKER</h2>
                <p style="font-size: 2.4rem; font-weight: 500; margin-top: 0px;">풀스택 개발에서 비전학습까지 함께한 팀원들을 소개합니다.
                </p>
                <div class="team-cluster">
                    <!-- 김수빈 -->
                    <div class="avatar-wrapper">
                        <div class="avatar-3d">
                            <div class="avatar-cover" style="background-image: url('/static/수빈.png');"></div>
                            <div class="avatar-info">
                                <div
                                    style="font-size: 1.45rem; line-height: 2.2; text-align: center; width: 100%; font-weight: 600;">
                                    미니프로젝트 조장<br>
                                    프론트 레이아웃 셋팅<br>
                                    데이터베이스, 백엔드 통합<br>
                                    비속어 필터 구현
                                </div>
                            </div>
                        </div>
                        <div class="avatar-name-label">김수빈</div>
                    </div>
                    <!-- 이시환 -->
                    <div class="avatar-wrapper">
                        <div class="avatar-3d">
                            <div class="avatar-cover" style="background-image: url('/static/시환.png');"></div>
                            <div class="avatar-info">
                                <div
                                    style="font-size: 1.45rem; line-height: 2.2; text-align: center; width: 100%; font-weight: 600;">
                                    회원관련 CRUD 담당<br>
                                    아이디 중복 방지 로직<br>
                                    모델학습
                                </div>
                            </div>
                        </div>
                        <div class="avatar-name-label">이시환</div>
                    </div>
                    <!-- 노형래 -->
                    <div class="avatar-wrapper">
                        <div class="avatar-3d">
                            <div class="avatar-cover" style="background-image: url('/static/형래.png');"></div>
                            <div class="avatar-info">
                                <div
                                    style="font-size: 1.45rem; line-height: 2.2; text-align: center; width: 100%; font-weight: 600;">
                                    데이터라벨링<br>
                                    디버깅<br>
                                    이미지학습 데이터 확보<br>
                                    모델학습
                                </div>
                            </div>
                        </div>
                        <div class="avatar-name-label">노형래</div>
                    </div>
                    <!-- 이지건 -->
                    <div class="avatar-wrapper">
                        <div class="avatar-3d">
                            <div class="avatar-cover" style="background-image: url('/static/지건.png');"></div>
                            <div class="avatar-info">
                                <div
                                    style="font-size: 1.45rem; line-height: 2.2; text-align: center; width: 100%; font-weight: 600;">
                                    Alert 피드 담당<br>
                                    관리자 대쉬보드 담당<br>
                                    거리에 따른 필터 로직<br>
                                    모델학습
                                </div>
                            </div>
                        </div>
                        <div class="avatar-name-label">이지건</div>
                    </div>
                    <!-- 김지영 -->
                    <div class="avatar-wrapper">
                        <div class="avatar-3d">
                            <div class="avatar-cover" style="background-image: url('/static/지영.png');"></div>
                            <div class="avatar-info">
                                <div
                                    style="font-size: 1.45rem; line-height: 2.2; text-align: center; width: 100%; font-weight: 600;">
                                    Report, 게시물 첨부 담당<br>
                                    중복 신고 차단 로직<br>
                                    Report, Alert 서비스 병합로직<br>
                                    디버깅<br>
                                    데이터 라벨링 & 모델학습
                                </div>
                            </div>
                        </div>
                        <div class="avatar-name-label">김지영</div>
                    </div>
                </div>
            </div>